{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/splash.css' %}">
{% endblock %}


{% block body_class %}template-homepage{% endblock %}

{% block nav-left %}
  <div class="nav-left">
      <a class="" href="#">
        <img class="" src="{% static "imgs/mala-blue.svg" %}" alt="">
      </a>
  </div>
{% endblock %}

{% block content %}

    <section>
      {% include_block page.body %}
    </section>

{% endblock %}


{% block foot %}
<div class="social ">
  <button class="btn" type="button" name="button">
    <i class="fab fa-youtube fa-3x"></i>
  </button>
  <button class="btn" type="button" name="button">
    <i class="fab fa-facebook-f fa-3x"></i>
  </button>
  <button class="btn" type="button" name="button">
    <i class="fab fa-instagram fa-3x"></i>
  </button>
</div>
{% endblock %}
