@import url('https://fonts.googleapis.com/css?family=Courgette|Dancing+Script|Patua+One|Philosopher|Sacramento');

*{
  font-family: Philosopher;
}

body{
  background: white;
  display: flex;
  flex-direction: column;
  background-image: url("/static/imgs/Chandra Kumala-00136.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  z-index: -3;
  background-size: auto 100%;
  overflow: visible;
}

header, footer {
  position: absolute;
  width: 100%;
  height: 80px;
  color: rgba(31, 36, 100, 1);
  background: currentColor;
}

header::after{
  content: '';
  position: absolute;
  top: 80px;
  border-left: 100vw solid currentColor;
  border-top: 0 solid transparent;
  border-bottom: 20px solid transparent;
  height: 0;
  width: 100vw;
  z-index: -1;
}

.purple{
  /* margin-top: 20px; */
  content: '';
  position: absolute;
  top: 80px;
  border-left: 100vw solid #bcb2d5;
  border-top: 10px solid #bcb2d5;
  border-bottom: 50px solid transparent;
  height: 0;
  width: 100vw;
  z-index: -2;
}

.nav{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#inspire{
  font-family: 'Sacramento', cursive;
  font-size: 2em;
  font-weight: normal;
  color: white;
  opacity: 1;
  /* font-family: Courgette; */
  /* font-family: Dancing+Script; */
  /* font-family: Patua+One; */
  /* font-family: Philosopher; */
  /* font-family: Sacramento; */
}

.btn{
  background:  rgba(31, 36, 100, 1);
}

main{
  position: fixed;
  top: 80px;
  /* background: yellow; */
  /* background-image: url("imgs/Chandra Kumala-00136.jpg"); */

  /* {% static "imgs/Chandra Kumala-00136.jpg" %} */
}

footer::before{
  content: '';
  position: absolute;
  bottom: 80px;
  border-left: 100vw solid currentColor;
  border-bottom: 0 solid transparent;
  border-top: 20px solid transparent;
  height: 0;
  width: 100vw;
  z-index: -1;
}

footer{
  bottom: 0;
}


@media (min-width: 576px) { ... }
@media (min-width: 768px) { ...}
@media (min-width: 992px) {
html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}}
@media (min-width: 1200px) { ... }


.block-heading{
  margin-top: 60px;
  font-size: 3em;
  font-weight: bolder;
  align-self: center;
}


/* ICONS */

.hamburg{  color: white; }
#hamburg-middle{
  color: red;
}

.fab{
  color: white;
}
