@import url('https://fonts.googleapis.com/css?family=Courgette|Dancing+Script|Patua+One|Philosopher|Sacramento');

*{
  font-family: Philosopher;
}

header {
  width: 100%;
  height: 80px;
  color: rgba(31, 36, 100, 1);
  background: currentColor;
}
header::after{
  content: '';
  position: absolute;
  top: 80px;
  border-left: 100vw solid currentColor;
  border-top: 0 solid transparent;
  border-bottom: 20px solid transparent;
  height: 0;
  width: 100vw;
  z-index: -1;
}



/* @import url('https://fonts.googleapis.com/css?family=Courgette|Dancing+Script|Patua+One|Philosopher|Sacramento');

*{
  font-family: Philosopher;
}

html{
  height: 100%;
  background: rgba(31, 36, 100, 1);
}

body{
  background: white;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 80px;
  color: rgba(31, 36, 100, 1);
  background: currentColor;
  z-index: 1;
}

header::after{
    content: '';
  border-left: 100vw solid currentColor;
  border-top: 0 solid transparent;
  border-bottom: 20px solid transparent;
  z-index: 1;
}

nav{
  margin: 0;
  padding: 0;
} */


/* header {
  width: 100%;
  height: 80px;
  color: rgba(31, 36, 100, 1);
  background: currentColor;
}
header::after{
  content: '';
  position: absolute;
  top: 80px;
  border-left: 100vw solid currentColor;
  border-top: 0 solid transparent;
  border-bottom: 20px solid transparent;
  height: 0;
  width: 100vw;
  z-index: -1;
} */

main{
  margin-top: 30px;
  font-size: 2em;
  font-weight: bolder;
  align-self: center;
  width: 100%;
}

footer {
  width: 100%;
  height: 90px;
  color: rgba(31, 36, 100, 1);
  background: currentColor;
  padding: 0;
  border: 0;
  margin: 0;
}

/* footer::before{
  content: '';
  bottom: 80px;
  border-left: 100vw solid currentColor;
  border-bottom: 0 solid transparent;
  border-top: 20px solid transparent;
  height: 0;
  width: 100vw;
  z-index: -1;
} */


/* .top.block_  {
   margin-top: 140px;
} */

div.middle{
  background: rgba(31, 36, 100, 1);
  color: white;
  width: 100%;
  text-align: center;
}

/* .bottom{
  margin-bottom: 120px;
  background: white;
  bottom: 0;
} */

/* .nav{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
} */

.btn{
  color: white;
  background:  transparent;
}

@media (min-width: 576px) { ... }
@media (min-width: 768px) { ...}
@media (min-width: 992px) {
html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}}
@media (min-width: 1200px) { ... }






/* ICONS */

/* .hamburg{  color: white; }
#hamburg-middle{
  color: red;
}

.fab{
  color: white;
} */
