@import url('https://fonts.googleapis.com/css?family=Courgette|Dancing+Script|Patua+One|Philosopher|Sacramento');

*{
  font-family: Philosopher;
}

html{
  height: 100%;
}

body{
  background: white;
  display: flex;
  flex-direction: column;
}

.top{
  background-image: url("/static/imgs/Chandra Kumala-00136.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow: visible;
  z-index: -3;
}

header, footer {
  width: 100%;
  height: 80px;
  color: rgba(31, 36, 100, 1);
  background: currentColor;
}

footer{
  bottom: 0;
}

header::after{
  content: '';
  position: absolute;
  top: 80px;
  border-left: 100vw solid currentColor;
  border-top: 0 solid transparent;
  border-bottom: 20px solid transparent;
  height: 0;
  width: 100vw;
  z-index: -1;
}

footer::before{
  content: '';
  bottom: 80px;
  border-left: 100vw solid currentColor;
  border-bottom: 0 solid transparent;
  border-top: 20px solid transparent;
  height: 0;
  width: 100vw;
  z-index: -1;
}

.purple{
  /* margin-top: 20px; */
  content: '';
  position: absolute;
  top: 80px;
  border-left: 100vw solid #bcb2d5;
  border-top: 10px solid #bcb2d5;
  border-bottom: 50px solid transparent;
  height: 0;
  width: 100vw;
  z-index: -2;
}

.top.block_  {
   margin-top: 140px;
}

.middle::before{

}

.middle{
  background: rgba(31, 36, 100, 1);
  color: white;
}

.bottom{
  margin-bottom: 120px;
  background: white;
  bottom: 0;
}

.nav{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.btn{
  background:  transparent;
}

@media (min-width: 576px) { ... }
@media (min-width: 768px) { ...}
@media (min-width: 992px) {
html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}}
@media (min-width: 1200px) { ... }


.block-heading{
  margin-top: 60px;
  font-size: 3em;
  font-weight: bolder;
  align-self: center;
}

/* ICONS */

/* .hamburg{  color: white; }
#hamburg-middle{
  color: red;
}

.fab{
  color: white;
} */
