{% load  static wagtailcore_tags %}

{% block nav %}

    <div class="dropdown dropdown-menu-left">
      <!-- <a href="#"><i class="fab fa-instagram fa-2x"></a> -->
      <button class="btn " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <svg width="32px" height="32px" style="enable-background:new 0 0 32 32" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
        <path class="hamburg" id="hamburg-top" fill="currentColor" d="m4 10h24c1.1 0 2-0.896 2-2s-0.896-2-2-2h-24c-1.1 0-2 0.896-2 2s0.896 2 2 2z"/>
        <path class="hamburg" id="hamburg-middle" fill="currentColor" d="m28 14h-24c-1.1 0-2 0.896-2 2s0.896 2 2 2h24c1.1 0 2-0.896 2-2s-0.896-2-2-2z"/>
        <path class="hamburg" id="hamburg-bottom" fill="currentColor" d="m28 22h-24c-1.1 0-2 0.896-2 2s0.896 2 2 2h24c1.1 0 2-0.896 2-2s-0.896-2-2-2z"/>
        </svg>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% slugurl 'splash' %}">Welcome</a>
        <a class="dropdown-item" href="{% slugurl 'home' %}">Details</a>
        <a class="dropdown-item" href="#">Testimonials</a>
        <a class="dropdown-item" href="#"><i class="fas fa-envelope fa-2x"></i></a>
        <a class="dropdown-item" href="#"><i class="fas fa-phone-square  fa-2x"></i></a>
        <a class="dropdown-item" href="#"><i class="fas fa-map-marker-alt fa-2x"></i></a>
      </div>
    </div>

{% endblock %}
